.hero-wrapper{
    color: white;

}
.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

/* left side*/
.hero-left {
  gap:3rem;
}
.hero-title {
  position: relative;
  z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}
.orange-circle {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background: var(--orange-gradient);
  top: -10%;
  right: 28%;
  z-index: -1;
}
.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120,120,120,0.374);
  padding: 0.3rem 1rem;
  justify-content: space-between;
  width: 100%;
}
.search-bar>input{
    border: none;
    outline: none;
}
.stats {
  width: 100%;
  justify-content: space-between;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}
/* right side*/
.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container img{
    width: 100%;
    height: 100%;
}