.header-wrapper {
  color: white;
}

.header-container {
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);
}

.header-menu {
  gap: 2rem;
}

.header-menu a:hover{
    color:white;
    cursor: pointer;
    transform: scale(1.1);
}

