.f-container {
  justify-content: space-between;
}

.f-left {
  gap: 1rem;
}
.f-menu {
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 400;
}
.f-menu>span:hover{
    cursor: pointer;
    scale: 1.2;
    font-weight: 500;
}
